<!DOCTYPE html>
<html>

<head>
	<title>Chatbot</title>
	<!--<link rel="icon" href="../static/images/bot.png" />-->
	<link rel="stylesheet" href="../static/css/style.css" />
</head>

<body>
	<div id="titlee" class="titlee">
        <p align="center" style="line-height:20px"> Sentiment Analysis</p>
	</div>
	<p align="center" style="line-height:20px"><b>Model: BERT(base)</b></p>
<!--	<p class="banner-desc" align="center">For English text content, automatically determine the sentiment polarity category of the text and give the corresponding confidence level</p>-->
	<div id="container" class="container">
		<div id="chat" class="chat">
			<div id="messages" class="messages"></div>
			<input id="input" type="text" placeholder="Say something..." autocomplete="off" autofocus="true" size="118"/>
		</div>
	</div>
</body>

<script type="text/javascript" src="../static/js/index.js" ></script>


</html>